.gantt-container {
  width: 90vw;
  margin: 0 auto;
}

.chart-controls {
  text-align: center;
}
.chart-controls > p {
  font-size: 1.2rem;
  font-weight: 500;
}

.chart-label {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 500;
}

.gantt-container .popup-wrapper {
  width: 200px;
  padding: 0 5px;
}

/* gant bar colors */
/* 
.gantt .bar {
  fill: red !important;
}
.gantt .bar-progress {
  fill: yellow !important;
}

.gantt .bar-label {
  fill: rebeccapurple !important;
} */

/* //////////////// arrows */
.gantt .arrow {
  stroke: royalblue !important;
  stroke-width: 2.8px !important;
}
